[Desktop Entry]
Type=Application
Version=1.0
Name=TLauncher
Comment=Unofficial Minecraft Launcher
Keywords[ru]=Майнкрафт;кубач;тлаунчер;
Exec=tlauncher
Icon=tlauncher
Terminal=false
Categories=Game;Application;
StartupWMClass=tlauncher
